@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color:linen;
}

.paddingbox{
    padding: 50px;
    padding-left: 320px;
    padding-right: 320px;
}
.statpadding{
    padding-left: 160px;
    padding-right:160px;
}

.pokemon-container{
    margin-right: 300px;
    margin-left: 300px;
    padding-bottom: 50px;
    padding-top: 20px;
}

.logo{
    width: 300px;
    display: flex;
    justify-items: center;
}


