{{page-title "Application"}}
<div class="text-center font-black italic text-5xl text-red-600 mb-10 flex justify-center">
    <LinkTo @route="index"><img src="https://assets.stickpng.com/images/612ce4761b9679000402af1c.png" alt="POKEMON"class="logo">
    </LinkTo>
</div>
{{outlet}}