{{page-title "NotFound"}}
{{outlet}}
<div class="text-center ">
    <p class="text-5xl text-bold m-5 p-5">The Page you are looking for can't be found</p>
    <LinkTo @route="index" class="text-2xl text-blue-500">Click here to goto Index</LinkTo>
</div>